{% extends 'layouts/list.html.twig' %}

{% block _navbar_controls %}
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a href="{{ path('app.club.manage') }}"
               class="btn btn-info btn-fill">
                Add new club
            </a>
        </li>
    </ul>
{% endblock %}

{% block list_label %}List of clubs{% endblock %}

{% block table_body %}
    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Country</th>
                <th>Association</th>
                <th># of leagues</th>
                <th># of clubs</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            {#{% for country in countries %}#}
                {#<tr>#}
                    {#<td>{{ country.id }}</td>#}
                    {#<td>#}
                        {#<a href="{{ path('app.country.view', {'country': country.id}) }}"> {{ country.name }}</a>#}
                    {#</td>#}
                    {#<td>{{ country.association.name }}</td>#}
                    {#<td>{{ country.leagues | length }}</td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                {#</tr>#}
            {#{% endfor %}#}
            </tbody>
        </table>
    </div>
{% endblock %}